ion-avatar {
    height: 200px;
    width: 100%;
    //--border-radius: 0;
}

ion-avatar img {
    width: 120px;
    height: 120px;
}

ion-card {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
}

ion-card ion-card-header {
    padding: 10px 10px;
}

ion-card ion-card-content {
    padding: 10px 10px;
}

ion-card-content ion-icon {
    font-size: 30px;
    color: var(--lib-color-red);
}

ion-card ion-card-title {
    font-size: 20px;
    text-transform: capitalize;
    color: var(--lib-color-blueDark);

}

ion-card ion-card-content {
    font-size: .8em;
    text-transform: lowercase;
}