.size-logo img {
    max-width: 120px;
    margin: 0 auto;
    display: block;
}

// figure {
//     background-color: var(--lib-color-red);
//     width: 100%;
// }

ion-button {

    --color: #ffffff;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
    --color-hover: #ffffff;

}



// ion-button {}